/*Estilo General*/

header {
    background-color: darkslategray;
    text-align: center;
    padding: 30px;
    background-image: url("fondo header 2.jpg");
}

body {
    margin: 0;
    text-align: center;
}

nav {
    background-color: #B58126;
}

.nave a:link,
a:visited {
    background-color: #B58126;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nave a:hover,
a:active {
    background-color: #961914;
    color: #B58126;
}

footer {
    color: white;
    background-color: rgb(72, 84, 97);
    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100px;
}

.texto {
    padding: 30px;
}

.titulo {
    font-family: 'Kaushan Script', cursive;
}

.col-md-3 {
    font-size: 10pt;
    padding: 10px;
}

h6 {
    color: #ffae23;
}