header {
    background-color: darkslategray;
    text-align: center;
    padding: 30px;
    background-image: url("fondo header 2.jpg");
}

body {
    margin: 0;
    text-align: center;
    background-image: url('imagenes/fondopizza\ 2.jpg');
    background-attachment: scroll;
    background-size: cover;
}

nav {
    background-color: #B58126;
}

.nave a:link,
a:visited {
    background-color: #B58126;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nave a:hover,
a:active {
    background-color: #961914;
    color: #B58126;
}

table,
th,
td {
    background-color: black;
    opacity: .9;
}

tr {
    text-align: left;
    color: rgb(150, 150, 150);
}

th,
td {
    padding: 15px 40px;
}

table {
    margin: 0px 0px 0px 472px;
}

th {
    background-color: rgb(4, 48, 27);
    color: white;
}

footer {
    color: white;
    background-color: rgb(72, 84, 97);
    bottom: 0;
    width: 100%;
    height: 100px;
    position: relative;
}

.col-md-3 {
    font-size: 10pt;
    padding: 10px;
}

h6 {
    color: #ffae23;
}

.central.cooperarios {
    font-size: 10pt;
    padding: 10px;
}